
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

body {
  background-repeat: no-repeat;
  background-size: cover;
}  

.qty input[type=number] {
  width: 50px;
  text-align: right;
  padding-right: 5px;
  border: 1.2px solid #6b96bb;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); 
}

#price,
.add {
  width: 50px;
  text-align: center;
}

#item {
  max-width: 200px;
}

.price::before,
.cost::before,
#grandTotal::before {
  content: "$ ";
}

#lastRow {
  height: 5em;
}
